@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Entertainment Agency Example!</h1>
    <br /><br />
    <p>Welcome to the entertainement agency database website. Here you will be able to find information about your favorite entertainers. And you could even edit or delete records. But don't tell anyone...</p>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="display">Click here to access the database</a>
</div>
